.Weather {
   border: 1px solid #ecedef;
   padding: 16px;
   border-radius: 8px;
}
.Weather .search-box{
    max-width: 380px;
}

.Weather ul {
    margin: 0;
    padding: 0;
      
}
.Weather li {
    margin: 0;
    padding: 0;
}

.Weather .temperature {
    margin: 0 30px 0 30px;
    line-height: 70px;
    font-size: 50px;
}

.btn {
    display: flex;
    width: 100px;
    height: 35px;
    padding: 2px;
    font-size: 24px;
    margin-top: 10px;
    margin-left: 2px;
    background: rgb(234, 192, 120);
    border-radius: 8px;

}